@charset "utf-8";
@import url('http://fonts.cdnfonts.com/css/made-tommy-outline');



* { margin: 0; padding: 0; box-sizing: border-box; } 

a { color: #000; text-decoration: none; } 

img { border: 0; vertical-align: middle; } 

ul,
li { list-style: none; } 

html { font-size: 10px; overflow-x: hidden; cursor: url(mouse.png), url(mouse.cur), auto; transition: 0.5s all; overflow-x: hidden; } 

html { scrollbar-3dLight-Color: #efefef; scrollbar-arrow-color: #dfdfdf; scrollbar-base-color: #efefef; scrollbar-Face-Color: #dfdfdf; scrollbar-Track-Color: #efefef; scrollbar-DarkShadow-Color: #efefef; scrollbar-Highlight-Color: #efefef; scrollbar-Shadow-Color: #efefef; -ms-overflow-style: none; /* overflow: auto; */}

/* SCROLL */
::-webkit-scrollbar { width: 5px; } 

/* 스크롤바의 width */
::-webkit-scrollbar-track { background-color: #ffeb58; } 

/* 스크롤바의 전체 배경색 */
::-webkit-scrollbar-thumb { background: linear-gradient(to bottom, #ffb400, #ffb400); } 

/* 스크롤바 색 */
::-webkit-scrollbar-button { display: none; } 

body { font-family: 'Noto Sans KR', sans-serif; color: #000; transition: 0.3s all; cursor: url("../mouse.png"), url("../mouse.cur"), auto}

h1, h2 { font-family: 'MADE TOMMY', sans-serif; color: #000; } 



/* 공통 */
.section { position: relative; width: 100%; margin: 0 auto; overflow: hidden; background-size: cover; padding: 10rem 0;} 
.section h1 { font-size: 0; } 

.clearfix::after { content: ''; position: relative; display: block; width: 100%; clear: both; } 

.container { position: relative; width: 73.2%; min-width: 142rem; margin: 0 auto; } 
.container h3 {text-align: center; padding-bottom: 6%}
.container h3 img {max-width: 100%;}

/* header */

.header { position: fixed; width: 100%; height: 8rem; line-height: 8rem; z-index: 999; } 
.header .container { position: absolute; display: block; left: 50%; transform: translate(-50%); width: 73.2%; height: 8rem; line-height: 8rem; z-index: 999; } 

.logo { position: absolute; left: 0; } 
.menu { position: absolute; right: 0; text-align: center } 

/* hamberger menu  */

.menu_bg { position: relative; width: 100%; height: 100vh; background: rgba(0, 0, 0, 0.7); top: 0; display: none; z-index: 9; } 

.sidebar_menu { position: absolute; display: none; width: 50%; height: 100vh; background: #000; top: 0; right: -50%; z-index: 9; } 

.close_btn { position: relative; } 
.close_btn a { display: block; width: 50px; height: 50px; top: 10%; right: 10%; padding-top: 10%; position: absolute; } 
.close_btn a img { display: block; width: 100%;} 

.menu_wrap { position: absolute; bottom: 5%; list-style: none; padding-left: 10%; z-index: 9; } 
.menu_wrap li { line-height: 2.5rem; margin-bottom: 3rem; } 
.menu_wrap li a { font-family: 'MADE TOMMY', sans-serif; font-size: 2.1rem; color: rgba(255,255,255,0.2); text-decoration: none; transition: 0.9s all; } 
.menu_wrap li a:hover { color: rgba(255,255,255,1); font-weight: 500}
.menu_wrap li a::after { content: ""; position: absolute; left: 0; display: inline-block; width: 0; height: 0.3rem; background-color: #ffb400; margin-top: 3rem; transition: 1.2s all; } 
.menu_wrap li a:hover::after { width:100%; height: 0.3rem;; background-color: #ffb400; } 


/* main */

.main { background: url("../images/main-bg.jpg") center; } 

.main-banner { position: relative; padding-top: 4rem; } 
.main-banner img { width: auto; max-width: 100%; } 
.main-banner .left-wrap { position: relative; float: left; width: 35%; padding-top: 8%; } 
.main-banner .right-wrap { position: relative; float: right; width: 65%; padding-left: 12%; } 

.text-img { position: relative; width: 100%; margin: 0 auto; } 
.text-img h2 { font-size: 2.4rem; line-height: 4.2; letter-spacing: 0.25rem; } 

.main-pic { float: right; } 
.more-ico {display: block;}
.more-ico img { margin-top: 6rem; } 
.heart-ico { position: absolute; right: 65%; top: 10%;
 animation: motion 0.8s linear 0s infinite alternate; margin-top: 0; } 

@keyframes motion { 
 0% { margin-top: 0; } 

 100% { margin-top: 1.5rem; } 
 }


/* about */
.about { background: url("../images/about/about-bg.jpg") no-repeat center; }
.about .container .left-wrap { width: 49%; float: left; } 
.about .container .right-wrap { width: 50%; float: right; } 

.pr-t { position: relative; height: 5rem; line-height: 5rem; } 

.pic-ico { float: left; } 
.pic-ico img { width: 5rem; height: 5rem; margin-right: 1rem; } 
.pic-ico h2 { display: inline-block; font-size: 1.8rem; } 

.sns-ico { float: right; } 
.sns-ico a { margin-left: 2rem; } 

.left-pic { position: relative; width: 100%; height: 48rem; margin-top: 3rem; background: url("../images/about/profile-main.jpg") no-repeat; background-size: cover; background-position-y: -5rem; border-radius: 2.5rem 0 0 0; border: 0.4rem solid #000; } 

.education { position: relative; width: 100%; border: 0.4rem solid #000; border-radius: 0 2.5rem 0 0; padding: 2rem 4rem; margin-top: 8rem; background-color: #fff; } 

.education h2,
.license h2 { font-size: 1.8rem; margin-bottom: 2.5rem; font-weight: 700; } 
.education ul li, .license ul li { font-size: 1.8rem; letter-spacing: -0.08rem; margin-bottom:1.5rem; } 
.education ul li:last-child, .license ul li:last-child {margin-bottom: 0;}
.education ul li span,
.license ul li span { display: inline-block; font-family: 'MADE TOMMY', sans-serif; font-size: 1.8rem; font-weight: 500; width: 7rem; } 

.license { position: relative; display: block; width: 100%; border: 0.4rem solid #000; border-radius: 0 2.5rem 0 0; padding: 2rem 0 2rem 5rem; margin-top: 1rem; } 
.license ul li u { color: #a3a3a3; font-weight: 300; } 

.skill { position: relative; width: 100%; margin-top: 1rem}
.skill div { width: 33%; float: left; text-align: center; font-family: 'MADE TOMMY', sans-serif; font-size: 1.6rem; font-weight: 500; line-height: 3.4rem; background: conic-gradient(from 
 45deg, #ffd301, #fffca6); border: 3px solid #000; margin-bottom: 0.3rem; margin-right: 0.3rem; } 
.skill div:nth-child(3),
.skill div:nth-child(6) { background: conic-gradient(from 
 45deg, #a2894e, #c0af88); } 
.skill div:nth-child(5) { background: conic-gradient(from 
 45deg, #d5d5d5, #eceeee); } 
.skill div:nth-child(3n) { margin-right: 0; } 

.skill-m {display: none;}
.skill-m { position: relative; width: 100%; margin-top: 4rem}
.skill-m div { width: 33.2%; float: left; text-align: center; font-family: 'MADE TOMMY', sans-serif; font-size: 1.6rem; font-weight: 500; line-height: 3.3rem; background: conic-gradient(from 
 45deg, #ffd301, #fffca6); border: 3px solid #000; margin-bottom: 0.3rem; margin-right: 0.23rem; }
.skill-m div:nth-child(3),
.skill-m div:nth-child(6) { background: conic-gradient(from 
 45deg, #a2894e, #c0af88); } 
.skill-m div:nth-child(5) { background: conic-gradient(from 
 45deg, #d5d5d5, #eceeee); } 
.skill-m div:nth-child(3n) { margin-right: 0; } 


/* competency */
.competency { background-color: #f5f5f5; z-index: 0; } 

.competency .left-wrap div { position: relative; width: 100%; border-radius: 2.5rem 0 2.5rem 2.5rem; border: 4px solid #000; background-color: #fff; margin-bottom: 1.5rem; padding: 2rem; overflow: hidden; z-index: -1; } 
.competency .container .left-wrap { width: 50%; float: left; } 
.competency .left-wrap div:last-child { margin-bottom: 0; } 
.competency .container .right-wrap { position: relative; width: 50%; float: right; } 
.competency .container .right-wrap img { position: absolute; left: 12%; max-width: 100%; } 
.competency .container span { font-size: 2.4rem; font-weight: 500; letter-spacing: -0.15rem; margin-bottom: 3rem; } 
.competency .container p { font-size: 1.8rem; font-weight: 300; letter-spacing: -0.1rem; line-height: 2.7rem; margin-top: 1rem; } 

span.commu-bag::after,
span.res-bag::after { content: ''; position: absolute; left: 3rem; width: 16.8rem; height: 1.8rem; margin-top: 1.2rem; background-color: #ffe958; z-index: -1}
span.it-bag::after { content: ''; position: absolute; left: 3rem; width: 18.8rem; height: 1.8rem; margin-top: 1.2rem; background-color: #ffe958; z-index: -1}

/* publishing */

.pb-slide {position: relative; width: 100%; display: block;}

.pb-slide .banner-img { position: relative; float: left; width: 81rem; height: 50rem; border-radius: 2.5rem 0 0 0; border: 5px solid #000 }
.pb-slide .banner-img-1 {background: url('../images/publishing/pb01.jpg') no-repeat center; background-size: cover;}
.pb-slide .banner-img-2 {background: url('../images/publishing/pb02.jpg') no-repeat center; background-size: cover;}
.pb-slide .banner-img-3 {background: url('../images/publishing/pb03.jpg') no-repeat center; background-size: cover;}
.pb-slide .banner-img-4 {background: url('../images/publishing/pb04.jpg') no-repeat center; background-size: cover;}
.pb-slide .banner-img-5 {background: url('../images/publishing/pb05.jpg') no-repeat center; background-size: cover;}
.pb-slide .banner-img-6 {background: url('../images/publishing/pb06.jpg') no-repeat center; background-size: cover;}
.pb-slide .banner-img-7 {background: url('../images/publishing/pb07.jpg') no-repeat center; background-size: cover;}

.pb-slide .banner-box { position: relative; float: left; width: 50rem; height: 32rem; line-height: 1.2; letter-spacing: -0.10rem; margin-left: 7rem; margin-top: 3.5rem;}


/* swiper-control */
.pb-slide .sw-control {position: absolute; display: block; right: 0; top: 17%; z-index: 1;}
.sw-control li {float:left; cursor: pointer; width: 4rem; height: 4rem; margin-right: 0.2rem;}
.sw-prev-btn {background: url('../images/icon/prev.jpg') no-repeat center; background-size: cover}
.sw-next-btn {background: url('../images/icon/next.jpg') no-repeat center; background-size: cover}

.box-title { display: block; width: 100%; height: 100%; margin-top: 3rem;}
.box-title > p { font-size: 3.6rem; font-weight: 500; }
.box-title > p > span { font-family: 'MADE TOMMY', sans-serif; font-size: 1.8rem; font-weight: 400; letter-spacing: 0}

.particle { font-size: 1.6rem; color: #606060; font-weight: 300;}

.box-content { margin-top: 4.5rem;  font-size: 1.8rem; }
.box-content > p { font-family: 'MADE TOMMY', sans-serif; letter-spacing: 0; line-height: 1.5; }
.box-content > p > span { font-family: 'Noto Sans KR', sans-serif; letter-spacing: -0.1rem; font-weight: 300;}

.box-btn { position: relative; }
.box-btn a { margin-top: 5rem; display: inline-block; padding: 2rem 4.5rem; color: #000; font-family: 'MADE TOMMY', sans-serif; letter-spacing: 0.1rem; font-size: 1.6rem; font-weight: 400; border: 3px solid #000; }
.pb-slide a.box-btn-1 { background: #1684e6; color: #fff; }
.pb-slide a.box-btn-2 { background: #b2aaa3; }
.pb-slide a.box-btn-3 { background: conic-gradient(from 45deg, #ffd301, #fffca6); margin-right: 0.2rem;}


/* design */
.design { background: url('../images/design-bg.jpg') no-repeat center; background-size: cover; }
.dg-slide {position: relative; width: 100%; display: block;; margin: 0 auto;}
.sw-visual-2 {height: 50rem; overflow: hidden;}
.dg-slide .banner-img { position: relative; float: right; width: 81rem; height: 50rem; border-radius: 0 2.5rem 0 0; border: 5px solid #000 }
.dg-slide .banner-img-1 {background: url('../images/design/dg01.jpg') no-repeat center; background-size: cover;}

.dg-slide .banner-box { position: relative; float: left; width: 50rem; height: 32rem; line-height: 1.2; letter-spacing: -0.10rem; margin-top: 3.5rem;}

/* swiper-control */
.dg-slide .sw-control {position: absolute; display: block; left: 24.5%; top: 17%; z-index: 1;}
.dg-slide .sw-control .sw-prev-btn,
.dg-slide .sw-control .sw-next-btn { transform: rotate(90deg); }
.dg-slide a.box-btn-1 { background: #9000ff; color: #fff; }

/* experience */
.ep-wrapper { position: relative; width: 100%; margin: 0 auto }
.ep-content { position: relative; width: 100%; margin: 0 auto; overflow: hidden; }
.ep-left-wrap { float: left; width: 61.5rem; height: 31rem; border: 5px solid #000;}
.ep-left-text { float: left; width: 78.5rem; padding: 4.5rem 9rem}
.ep-right-wrap { float: right; width: 78.5rem; height: 33rem; border: 5px solid #000;}
.ep-right-wrap-2 { float: right; width: 78.5rem; height: 42.5rem; border: 5px solid #000;}
.ep-right-text { float: left; width: 61.5rem; padding: 6.2rem 9rem}
.ep-right-text-2 { height: 42.5rem; }

.ep-left-wrap-1 {background: url('../images/experience/ep01-g.jpg') no-repeat center; background-size: cover;}
.ep-content:hover .ep-left-wrap-1 {background: url('../images/experience/ep01.jpg') no-repeat center; background-size: cover;}
.ep-left-wrap-2 {background: url('../images/experience/ep03-g.jpg') no-repeat center; background-size: cover;}
.ep-content:hover .ep-left-wrap-2 {background: url('../images/experience/ep03.jpg') no-repeat center; background-size: cover;}
.ep-right-wrap-1 {background: url('../images/experience/ep02-g.jpg') no-repeat center; background-size: cover;}
.ep-content:hover .ep-right-wrap-1 {background: url('../images/experience/ep02.jpg') no-repeat center; background-size: cover;}
.ep-right-wrap-2 {background: url('../images/experience/ep04-g.jpg') no-repeat center; background-size: cover;}
.ep-content:hover .ep-right-wrap-2 {background: url('../images/experience/ep04.jpg') no-repeat center; background-size: cover;}

.ep-title { font-family: 'MADE TOMMY', sans-serif; }
.ep-title span {font-weight: 300; font-size: 1.8rem;}
.ep-title p {font-weight: 500; font-size: 2.4rem;}

.ep-text { font-family: 'Noto Sans KR', sans-serif; letter-spacing: -0.08rem; font-size: 1.8rem; opacity: 0.8; margin-top: 4rem;}
.ep-text p {font-weight: 400; margin-bottom: 2rem;}
.ep-text span { font-weight: 300; line-height: 1.4;}
.ep-text-2 span { display: block; margin-bottom: 2rem}
.ep-text p::after {content: ''; position: absolute; left: 10rem; width: 0rem; height: 1.5rem; margin-top: 1.2rem; background-color: #ffe958; z-index: -1; transition: width 0.6s;}
.ep-content:hover .ep-text p::after {content: ''; position: absolute; left: 10rem; width: 28rem; height: 1.5rem; margin-top: 1.2rem; background-color: #ffe958; z-index: -1}
.ep-content:nth-child(2):hover .ep-text p::after {content: ''; position: absolute; left: 10rem; width: 12rem; height: 1.5rem; margin-top: 1.2rem; background-color: #ffe958; z-index: -1}
.ep-content:nth-child(3):hover .ep-text p::after {content: ''; position: absolute; left: 10rem; width: 12rem; height: 1.5rem; margin-top: 1.2rem; background-color: #ffe958; z-index: -1}
.ep-content:nth-child(4):hover .ep-text p::after {content: ''; position: absolute; left: 10rem; width: 20.5rem; height: 1.5rem; margin-top: 1.2rem; background-color: #ffe958; z-index: -1}


/* joygram */
.joygram { background-color: #eee}
.joygram h1 span { color: #ffe958}

.pic-grid div { position: relative; display: block; float:left; width: 33%; height: 35rem; background-size: cover; overflow: hidden;} 
.pic-grid div:first-child {background: url('../images/joygram/joygram01.jpg') no-repeat center; background-size: cover;}
.pic-grid div:nth-child(2) {background: url('../images/joygram/joygram02.jpg') no-repeat center; background-size: cover;}
.pic-grid div:nth-child(3) {background: url('../images/joygram/joygram03.jpg') no-repeat center; background-size: cover;}
.pic-grid div:nth-child(4) {background: url('../images/joygram/joygram04.jpg') no-repeat center; background-size: cover;}
.pic-grid div:nth-child(5) {background: url('../images/joygram/joygram05.jpg') no-repeat center; background-size: cover;}
.pic-grid div:last-child {background: url('../images/joygram/joygram06.jpg') no-repeat center; background-size: cover;}


/* contact */
.contact { background-color: #ffd300; padding-bottom: 0;}
.contact h3 {text-align: center;} 
.contact h3 img {max-width: 100%;} 
.qr-code {position: relative; margin: 0 auto; text-align: center; min-width: 142rem; }
.qr-code img { max-width: 100%; }
.m-qr { display: none; }

/* footer */
.footer {position: relative; width: 100%; background-color: #000; padding-top: 11rem; padding-bottom: 11rem; } 
.footer .container {width:100% !important}
.footer p { font-family: 'MADE TOMMY', sans-serif; color: #fff; font-size: 1.6rem; text-align: center; font-weight: 100; } 
.footer p span { font-weight: 500; } 



@media screen and (max-width: 1900px) { /* header & container */
   .header .container { width: 90%; }
}
@media screen and (max-width: 1650px){
   .competency .container p { font-size:1.7rem } 
   .competency .left-wrap div:last-child { height: 19rem } 
   }

 @media screen and (max-width: 1410px) { /* header & container */
   .logo img { width: 80%; } 
   .menu img { width: 80%; } 
   .container, .qr-code { min-width: 102.3rem;}

   /* about */
   .left-pic { height: 45rem; background-size: 70rem; background-position: center; } 
   .about .container .left-wrap {width: 47.5%;}
   .about .container .right-wrap { width:51.5% } 
   .about .container .left-wrap,
   .about .container .right-wrap {margin-bottom: 1rem;}
   .education, .license { padding:2rem;}
   .education {height: 25rem;}
   .license {height:19rem;} 
   .education ul li span, .license ul li span { width: 5rem; font-size: 1.6rem; }
   
   .skill {display: none}
   .skill-m {display: block}
   .skill-m div {margin-right: 0.23rem; width: 33.1%}

   /* competency */
   .competency .container .left-wrap { width: 57%; } 
   .competency .left-wrap div:last-child { height: auto } 
   .competency .container span { font-size: 2.1rem; } 
   .competency .container p { font-size:1.6rem } 
   
   span.commu-bag::after, span.res-bag::after { width: 14.7rem; margin-top: 1rem; } 
   
   .competency .container .right-wrap { width: 43%; } 
   .competency .container .right-wrap img { top: 5rem; padding-left: 3rem; left: 0; } 
   .box-content { margin-top: 1.5rem; }

   /* publishing */
   .pb-slide .banner-img { width: 100%; }
   .pb-slide .banner-box { width: 100%; height: auto; margin-left: 0; margin-top: 0;}
   .pb-slide .sw-control { left: auto; right: 0; top: 67%;}

    /* design */
    .sw-visual-2 {height: auto; overflow: visible; width: 100%;  overflow: hidden;}
    .dg-slide .banner-img {float: left; width: 100%;}
    .dg-slide .banner-box {float: left; width: 100%; height: auto; margin-top: 0;}
    .dg-slide .sw-control { left: auto; right: 0; top: 65%;}
    .dg-slide .sw-control .sw-prev-btn, .dg-slide .sw-control .sw-next-btn { transform: rotate(0deg) }

    
    /* experience */
    .ep-content {margin-top: 3rem;}
    
    .ep-left-wrap, .ep-right-wrap { width: 100%; float: none; }
    .ep-left-text, .ep-right-text { width: 100%; padding: 2rem 0; float: none; }
    .ep-text {margin-top: 1rem;}
    .ep-left-wrap-1 {background: url('../images/experience/ep01.jpg') no-repeat center; background-size: cover;}
    .ep-left-wrap-2 {background: url('../images/experience/ep03.jpg') no-repeat center; background-size: cover;}
    .ep-right-wrap-1 {background: url('../images/experience/ep02.jpg') no-repeat center; background-size: cover;}
    .ep-right-wrap-2 {height: 42.5rem; background: url('../images/experience/ep04.jpg') no-repeat center; background-size: cover;}
    
    .ep-right-text-2 { height: auto; }
    
    .ep-content .ep-text p::after {content: ''; position: absolute; left: 0; width: 28rem; height: 1.5rem; margin-top: 1.2rem; background-color: #ffe958; z-index: -1}
    .ep-content:nth-child(2) .ep-text p::after {content: ''; position: absolute; left: 0; width: 12rem; height: 1.5rem; margin-top: 1.2rem; background-color: #ffe958; z-index: -1}
    .ep-content:nth-child(3) .ep-text p::after {content: ''; position: absolute; left: 0; width: 12rem; height: 1.5rem; margin-top: 1.2rem; background-color: #ffe958; z-index: -1}
    .ep-content:nth-child(4) .ep-text p::after {content: ''; position: absolute; left: 0; width: 20.5rem; height: 1.5rem; margin-top: 1.2rem; background-color: #ffe958; z-index: -1}
    .ep-content:hover .ep-text p::after {content: ''; position: absolute; left: 0; width: 28rem; height: 1.5rem; margin-top: 1.2rem; background-color: #ffe958; z-index: -1}
    .ep-content:nth-child(2):hover .ep-text p::after {content: ''; position: absolute; left: 0; width: 12rem; height: 1.5rem; margin-top: 1.2rem; background-color: #ffe958; z-index: -1}
    .ep-content:nth-child(3):hover .ep-text p::after {content: ''; position: absolute; left: 0; width: 12rem; height: 1.5rem; margin-top: 1.2rem; background-color: #ffe958; z-index: -1}
    .ep-content:nth-child(4):hover .ep-text p::after {content: ''; position: absolute; left: 0; width: 20.5rem; height: 1.5rem; margin-top: 1.2rem; background-color: #ffe958; z-index: -1}
   /* joygram */

}

@media screen and (max-width: 1023px){

   .container, .qr-code { min-width: 76.8rem;}
   .text-img h2 { font-size: 1.8rem; letter-spacing: 0.03rem;}
   /* about */
   .about .container .left-wrap,
   .about .container .right-wrap { float: none; width: 100%; } 

   .left-pic { height: 50rem; background-size: 98rem; background-position: 0 -13rem; } 

   .education { margin-top: 1rem; border-radius: 0; margin-bottom: 1rem; height: auto;} 
   .license { border-radius: 0 0 2.5rem 0; margin-bottom: 1rem;  height: auto;} 
   .education h2, .license h2 { font-size: 2.1rem; } 

   .skill-m { margin-top: 0; } 
   .skill-m div { line-height: 4.3rem; } 
   
   .competency .container .right-wrap { display: none; } 
   .competency .container .left-wrap { width: 100%; float:none; } 
   .competency .left-wrap div { width: 100%; margin: 0 auto; margin-bottom: 1.5rem } 
   
   .competency .container span { font-size:2.4rem; } 
   .competency .container p { font-size: 1.8rem; } 

   .pic-grid div {width: 100%}

}

@media screen and (max-width: 767px){

   .container, .qr-code { min-width: 48rem;}

   .header { margin-top: 0rem; }
   .sidebar_menu { width: 70%; }
   .menu_wrap li a {font-size: 1.6rem;}
   .close_btn a { width: 2.5rem}
   .menu_wrap {width: 100%}
   .logo img { width: 70%; } 
   .menu img { width: 65%; } 
   
   .main {padding-top: 10%; padding-bottom: 35%;}
   .main-banner {padding-top: 0;}
   .main-banner .left-wrap {width: 100%; padding-top: 0; float: none; z-index: 1;}
   .main-banner .right-wrap {position: absolute; top: 50%; left: 20%; width: 100%; float: none; padding-left: 0; opacity: 0.7;}
   .main-banner img { max-width: 80% }
   .text-img h2 { font-size: 2.4rem; letter-spacing: 0.25rem; }

   .container h3 img, .contact h3 > img {max-width: 50%}

   .left-pic { background-size: auto; background-position: center}

   .education h2, .license h2 { font-size: 2.4rem }
   .education ul li, .license ul li { font-size: 1.8rem; }

   .skill-m div { width: 49.5%; margin-right: 0.2rem !important;}

   /* publishing */
   .pb-slide .sw-control { top: 58% }
   /* design */
   .dg-slide .sw-control { top: 55%; }


   .pb-slide .banner-img, .dg-slide .banner-img { height: 35rem; }
   .box-title > p {font-size: 2.6rem}
   .box-btn a {margin-top: 2rem;}


   /* experience */
   .ep-left-wrap, .ep-right-wrap, .ep-right-wrap-2 { height: 25rem;}

   
   /* contact */
   .pc-qr {display: none;}
   .qr-code a {position: relative; display: block; width: 100%; text-align: center; }
   .m-qr { display: block; margin: 0 auto; max-width: 80% !important}


}   

@media screen and (max-width: 480px){
   .container, .qr-code { min-width:36rem;}
   .header, .header .container { line-height: 6rem; height: 6rem;}
   
   .logo img {width: 50%;}
   .menu img {width: 45%;}

   .menu_wrap li a {color: rgba(255,255,255,1)}

   .main {padding-top: 13%; padding-bottom: 56%;}
   .main-banner .left-wrap {padding-top: 2%;}
   .main-banner .right-wrap {left: 0}
   .text-img { text-align: center;}
   .text-img h2 {font-size: 1.8rem;}

   .more-ico { display: none;}

   .heart-ico {top:21%; right: 65%; max-width: 25% !important;}

   .pic-ico, .sns-ico {width: 50%;}

   .left-pic { height: 25rem; background-size: cover; background-position: center;}
   .education h2, .license h2 { font-size: 2.1rem; }
   .education ul li, .license ul li { font-size: 1.6rem; }

   .skill-m div {width: 49.44%;}


   .competency .container span { font-size: 2.1rem; }
   .competency .container p { font-size: 1.6rem; }


   .pb-slide .banner-img, .dg-slide .banner-img { height: 25rem; border: 4px solid #000}
   .pb-slide .sw-control, .dg-slide .sw-control {display: none;}

   .box-title > p { font-size: 2.1rem; }
   .box-content { font-size: 1.6rem; }

   .box-btn a { padding: 2rem 3rem; border: 2px solid #000}


   .ep-left-wrap, .ep-right-wrap, .ep-right-wrap-2 {height: 20rem;}
   .ep-title span, .ep-text { font-size: 1.6rem; }
   .ep-title p { font-size: 2.1rem; }

   .ep-content {margin-top: 0; margin-bottom: 2rem;}

   .qr-code a { padding-top: 10%; }

}